.container {
    border: 10px solid black;
    border-radius: 40px;
    /* display: inline-block; */
    
    height:600px;
    
    margin-left: 100px;
    /* padding-left: 20px; */
    width:350px;
    
    background-image: url(what.png);
    position: fixed;
    position: relative;
    }


.date,.date1,.date2,.date3,.date4{
    position:fixed;
    z-index: 1;
    background-color: lightsalmon;
    color: black;
    margin-top: 100px;
   margin-left: 120px;
   position: sticky;
   top: 80px;
   display: inline-block;
   color: white;
   border-radius: 5px;
}


.msg1{
    margin-left: 20px;
    border-radius: 3px solid grey;
    color:black ;
}

.msg3{
     margin-left: 200px;
    border-radius: 3px solid grey;
    color:black ;
}
.msg4{
    margin-top: 20px;
    /* margin-right: 250px; */
   margin-left: 10px;
    
}
.msg5{
    margin-left: 200px;

    color:black ;

}
.msg6{
    margin-top: 20px;
    /* margin-right: 250px; */
    border-radius: 3px solid grey;
    color:black ;
    margin-left: 10px;
}
.msg7{
margin-left: 200px;
    border-radius: 3px solid grey;
    color:black ;

}
.msg8{
     margin-left: 20px;
    /* margin-right: 250px; */
    border-radius: 3px solid grey;
    color:black ;
    
}




.msg img{
    margin-top: 3px;
}
.msg1 {
    margin-left:  10px;
   
    border-radius: 3px solid black;

}
.item1{
    background-color: rgb(70, 110, 10);
    font-size: 20px;
    height: 30px;
   width: 350px;
   height:60px;
   padding-top: 15px;
   position: fixed;
   z-index: 1;
   border-radius: 15px;
}
p{
    border-radius: 2px solid black;
    margin-top: 2px;
}
.bottom{
    display: inline-block;
    /* width: 350px; */
    height: 50px;
    
    /* background-color:blueviolet; */
    /* padding-right: 50px; */
    background-color: white;
    border-radius: 40px;
    position: fixed;
    z-index: 1;
    margin-top: 20px;
    margin-right: 40px;
    width: 350px;
    font-size: 20px;
    
}
input{
    margin-top: 10px;
 padding-top: 15px;
}
.msg2{
    margin-left: 200px;
}
.chat{
    margin-left: 190px;
}
.main{
    
    height: 530px;
    overflow: scroll;
    scrollbar-width: none;
}
.chat p{
    background-color: rgb(54, 69, 102);
    border: 2px solid darkviolet;
    border-radius: 10px;
    color: white;
}
.msg1 p{
    background-color: rgb(98, 47, 67);
    border-radius: 10px;
    color: white;
    margin-right: 180px;
}
.msg2 p{
    background-color: rgb(54, 69, 102);
    border: 2px solid darkviolet;
    border-radius: 10px;
    color: white;

}
.msg3 p{
    background-color: rgb(54, 69, 102);
    border: 2px solid darkviolet;
    border-radius: 10px;
    color: white;
}
.msg4 p{
     background-color: rgb(98, 47, 67);
    border-radius: 10px;
    color: white;
    margin-right: 180px;
}
.msg5 p{
    background-color: rgb(54, 69, 102);
    border: 2px solid darkviolet;
    border-radius: 10px;
    color: white;
}
.msg6 p{
    background-color: rgb(98, 47, 67);
    border-radius: 10px;
    color: white;
    margin-right: 180px
}
.msg7 p{
     background-color: rgb(54, 69, 102);
    border: 2px solid darkviolet;
    border-radius: 10px;
    color: white;
}
.msg8 p{
     background-color: rgb(98, 47, 67);
    border-radius: 10px;
    color: white;
    margin-right: 180px
}
